- if @callbacks.count > 0
  %br
- else
  %div.row
    %div.columns.large-12.small-12
      %br
      %h5 There are no callbacks associated with this reference
  %div.row
    = form_tag(controller: :callbks, action: :redirect) do
      %div.row
        %div.columns.large-11.small-9= text_field_tag :reference, nil, placeholder: "Enter 'reference' or 'user_defined_8' value"
        %div.columns.large-1.small-3= submit_tag('View Callbacks', class: 'button radius tiny')


%div.row
  %div.columns.large-12.small-12
    %div#recent_callbacks Loading list ...
